root {
    background-color: #330c43;
    z-index: -100;
}

body {
    background-color: #330c43;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    z-index: -100;
}

.bodyLanding {
    width: 100%;
    align-items: center;
    background-color: #330c43;
}

main {
    flex: 1 0 auto;
}

.section {
    margin-bottom: 100px;
    z-index: -50;
}

.section2 {
    width: 100%;
    margin-bottom: 100px;
    background-color: #160331;
    padding-bottom: 110px;
    padding-top: 30px;
    z-index: -50;
}

.hotelLink {
    font-size: 30px;
}

.mapsContainer {
    padding-top: 35px;
    padding-bottom: 35px;
    margin: auto;
}

div h2 {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    color: #b4528d;
}

.countdown {
    text-align: center;
    margin: auto;
    max-width: 80%;
    font-size: 40px;
    color: white;
}

/* Media countdown */
@media (max-width: 600px) {
    .countdown {
        font-size: 25px;
    }
}

button:focus, button:active {
    background-color: #b4528d !important;
    box-shadow: none !important;
}

.btn {
    margin: auto;
    color: white;
    font-size: large;
    width: 230px;
    height: 50px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerSection {
    color: white;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-top: 80px;
}

.headerSectionImage {
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

#bodySection {
    width: 100%;
}

#googleFormsSection {
    background-color: #330c43;
}

p {
    font-size: 17px;
    color: white !important;
    margin: 15px;
}

#chatContainer {
    height: 300px;
    overflow-y: auto;
    background-color: black;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
/* width */
#chatContainer::-webkit-scrollbar {
    width: 10px;
}
/* track */
#chatContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
/* handle */
#chatContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
/* handle on hover */
#chatContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.chat-message {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    color: black;
}
.user-message {
    background-color: #b4528d;
    color: black;
    align-self: flex-start;
}
.bot-message {
    background-color: #e5e5e5;
    color: black;
    align-self: flex-end;
}