canvas {
    image-rendering: pixelated; /* This will keep the pixel art look sharp */
}

body {
    justify-content: center;
    padding: 0;
    margin: 0;
}

a {
    color: #AAAAAA;
    text-decoration: none;

}

a:hover {
    color: #FFFFFF;
}