canvas {
    image-rendering: pixelated; /* This will keep the pixel art look sharp */
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0;
    margin: 0;
}